<button id="toggleButton" (click)="toggleAddItems(toggleButtonText)" mat-flat-button [ngClass]="addItemToggle ? 'toggleGreen' : 'mat-warn'">{{toggleButtonText}}</button>
<form [formGroup]="addItemForm" class="add-item-form" (submit)="createUpdateItem(submitButtonText)"  [hidden]="addItemToggle">
    <input type="hidden" formControlName="previousName">
    <mat-form-feild appearance="fill">
        <label>Name</label>
        <input required class="input-style" formControlName="itemName" matInput>
    </mat-form-feild>
    <form-spacer></form-spacer>
    <mat-form-feild appearance="fill" *ngIf="fridge">
        <label>Best before or use by</label>
        <mat-select formControlName="bestBeforeOrUseBy">
            <mat-option *ngFor="let option of bestBeforeOrUseBySelect" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
    </mat-form-feild>
    <form-spacer></form-spacer>
    <mat-form-feild appearance="fill" *ngIf="!fridge">
        <label>Drawer</label>
        <mat-select formControlName="drawer">
            <mat-option *ngFor="let option of drawerSelect" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
    </mat-form-feild>
    <form-spacer></form-spacer>
    <mat-form-feild appearance="fill">
        <label>Quantity</label>
        <input type="text" pattern="[0-9]*" class="input-style" formControlName="quantity" matInput>
    </mat-form-feild>
    <form-spacer></form-spacer>
    <mat-label *ngIf="fridge">Expiry Date</mat-label>
    <mat-form-field appearance="fill" style="margin-bottom: -1.34375em" *ngIf="fridge"> 
        <input formControlName="expiryDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <form-spacer></form-spacer>
    <div mat-dialog-actions align="center">
        <button class="toggleGreen" id="submitButton" type="submit" mat-flat-button>{{submitButtonText}}</button>
    </div>    
</form>