<div class="item mb-3" *ngFor="let item of items">
    <div class="row g-0 pe-2 pt-2 pb-1">
        <div class="itemContent col-9 offset-1">
            <p class="itemName my-0">{{item.ItemName}}</p>
            <p class="itemExpiry my-0">{{item.BestBeforeOrUseBy}}: {{item.ExpiryDate}}</p>
        </div>
        <div align="right" class="itemIcons col-2">
            <mat-icon>edit</mat-icon>
            <mat-icon (click)="deleteItem(item)" color="warn">delete</mat-icon>
            <p class="quantity mb-0 mt-4">x{{item.Quantity}}</p>
        </div>
    </div>
</div>