.item {
    border: 1px solid #b2b2b2;
    color: #2B303A;
    border-radius: 5px;
}

.itemContent{
    margin-left: 25px;
}

.itemName{
    font-size: 25px;
}

.quantity {
    margin-right: 4px;
}

.mat-expansion-panel-header{
    height: 100px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 22px 0 0 20px;
  }

  .greenDot{
    background-color: #25913b !important;
  }

  .orangeDot {
    background-color: #FFC107 !important;
  }

  .redDot {
    background-color: #DC3545 !important;
  }

  .mat-select {
    background-color: white !important;
  }

  .mat-select {
    display: inline-block !important;
  }

  @media only screen and (max-width: 600px) {
    .dot {
        height: 20px;
        width: 20px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin: 22px 0 0 15px;
      }
  }
